.bookmarkBg{
  background-color: #1e1e1e1a;
  border-radius: 7px;
}

@media only screen and (min-width: 450px){
	.left-card{
    width: 70%;
  }
  .bookmark-sec{
    width: 30%;
    padding: 20px;
    position: sticky;
    top: 0px;
    height: 100vh;
  }
}